/* SOLOFOLIO - BASE CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block }
ol,
ul { list-style: none }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, Utkal, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-align: left;
}
dd, dt, li, p {
  line-height: 1.6em;
}
p, table, ul, ol {
  margin: 1rem 0;
}

dd {
  margin-bottom: 1em;
}
th { font-weight: bold; }
th { background-color: rgba(125,125,125,.2); }
td, th { padding: .5rem 1rem .5rem 1rem; border: 1px solid rgba(125,125,125,.2); }
dt {
  font-weight: bold;
  margin-top: .5rem;
}
li {
  list-style-type: square;
  list-style-position: inside;
}
ul ul, ol ol { margin-left: 1rem;}
ol li { list-style-type: decimal; }
code, pre, tt, var { background-color: rgba(125,125,125,.2); }
pre { padding: .5rem; word-wrap: break-word;}
em, cite { font-style: italic; }
sup, sub { font-size: .7em; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
acronym { text-transform: uppercase; }
acronym, abbr { border-bottom: .1em dotted; }
blockquote p { padding: 1em; border-left: 8px solid rgba(125,125,125,.2); }
blockquote cite { display: block; margin-top: 1em; }
strong { font-weight: bold }
.sticky { padding-bottom: 2em }
.gallery-caption,
.bypostauthor { font-size: 1em }
/* Floats */
.left { float: left }
.entry .alignleft { margin-right: 1rem; }
.entry .alignright { margin-left: 1rem; }
.right { float: right }
.clear {
  clear: both;
  height: 0;
  margin: 0 !important;
  padding: 0;
}
/* Images */
img { border: none }
/* Links */
a { font-weight: bold }
a:link,
a:visited {
  text-decoration: none;
  outline: none !important;
}
a:hover,
a:active {
  outline: none !important;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
a img {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
a:hover img { text-decoration: none }
.more-link { display: block }
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 1rem;
  padding: 0;
}
h1 { font-size: 3rem }
h2 { font-size: 1.86rem }
h3 { font-size: 1.28rem }
h4 { font-size: 1rem }
h5 { font-size: .85rem }
h6 { font-size: .78rem }
#header-content h3 {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
#header-content ul { margin: 0; }
p {
  padding: 0;
  max-width: 600px;
}
p:first-child {
  margin-top: 0;
}
/* Structure */
#header {
  bottom: 40px;
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 200px;
  word-wrap: break-word;
  z-index: 5;
}
#header a {
  font-weight: normal;
}
#header #logo { width: auto }
.solofolio-cyclereact-sidebar {
  bottom: 0;
  position: fixed;
  max-width: 200px;
  margin-bottom: 0;
  width: 100%;
  z-index: 100;
}
.solofolio-cyclereact-caption {
  line-height: 1.4;
  font-size: .8em;
}
#header-content ul li {
  font-size: 12px;
  font-weight: normal;
  list-style-type: none;
}
#header-content ul li a {
  display: inline-block;
  line-height: 1.6;
}
.sidebar-widget { margin-top: 15px }
.sidebar-search { font-size: 13px; }
#logo a img {
  border: none;
  font-weight: normal;
  text-decoration: none;
}
#logo a img:hover { border: none }
#logo { max-width: 700px }
#logo h1 { font-size: 24px }
#logo h1 a { font-weight: bold }
#logo img {
  border: none;
  width: 100%;
}
#logo-noimg { margin: 0 }
#header-content { }
#header-phone,
#header-email,
#header-location { margin-right: 0px }
#header-nav { margin-top: 5px }
#wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 20px;
  left: 20px;
}
/* Footer */
.footer {
  border-top-left-radius: 2px;
  bottom: 0;
  font-size: .78rem;
  right: 0;
  line-height: 1;
  opacity: .5;
  padding: 4px 8px;
  position: fixed;
  z-index: 1000;
}
.copyright-hidden {
  display: none;
}
.footer:hover {
  opacity: 1;
}
.footer:hover .copyright-label {
  display: none;
}
.footer:hover .copyright-hidden {
  display: block;
}
/* Header */
#header h1 {
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#header h1 a:link,
#header h1 a:visited { background-color: transparent }
#header h1 a:hover,
#header h1 a:active { background-color: transparent }
/* Blog Posts */
.entry {
  margin-bottom: 3rem;
  overflow: hidden;
}
.post-meta { margin-bottom: 1em }
.post-byline { font-weight: normal }
h2.post-title {
  font-size: 22px;
  margin-bottom: .25rem;
}
h2.post-title a { font-weight: normal; }
.entry .tag-links {
  max-width: 600px;
}
.entry .tag-links a { padding: 0 2px }
#content-index,
#content-single,
#content-search { width: 100% }
#content-parent {
  max-width: 920px;
}
#content-parent .content { padding: 0 1rem }
#content-parent .children { margin-top: 0 }
#content-parent .children h3 { margin: 0 }
#content-parent .children li {
  display: inline-block;
  max-width: 300px;
  width: 32.8%;
  padding: 0 1rem 2rem 1rem;
  vertical-align: top;
}
#content-parent .children li img {
  height: auto;
  width: 100%;
}
#content-about { max-width: 900px }
#content-about-image {
  width: 50%;
  float: right;
  padding: 0 0 2rem 2rem;
}
#content-about-image img {
  width: 100%;
  height: auto;
}
#content-about-content {
  float: left;
  width: 50%;
  max-width: 500px;
  display: block;
}
/* Forms */
input, textarea, button {
  background-color: transparent;
  border-radius: 2px;
  margin: 0;
  padding: .5rem;
}
input:focus, textarea:focus, button:focus {
  outline: none;
}
/* Comments */
#respond label {
  display: block;
}
.comments { padding-bottom: 3rem }
.comment { margin-bottom: 1rem }
.comment-meta { margin-bottom: .5rem }
.comments .date {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}
.comments h4, .comments h4 a {
  font-weight: bold;
  line-height: 1;
  margin-bottom: .25rem;
}
.comments h6 {
  font-weight: normal;
  margin-bottom: 0;
}
.comment-list li {
  list-style-type: none;
  margin-bottom: 1rem;
}
#commentform label small { font-size: .7em }
p.comment-form-comment label { display: none }
.comments p.form-submit {
  max-width: 100%;
  margin: 0;
}
.comments p.form-submit input {
  background-color: transparent;
  float: right;
  width: auto;
}
.comments #comment {
  display: block;
  height: 225px;
}
.comments input, .comments textarea { width: 100%; }
/* Images */
.entry .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.entry img {
  display: block;
  margin-bottom: 1em;
  height: auto;
  max-width: 100%;
}
.entry img:first-child { margin-top: 0 }
.entry .wp-caption img { margin: 0 }
.alignleft { float: left }
.alignright { float: right }
.wp-caption {
  text-align: left;
  margin-bottom: 1em;
}
.caption,
.wp-caption-text {
  font-size: .9rem;
  line-height: 1.4;
  padding-top: .2rem;
  margin-top: 0;
  max-width: 100%;
  text-align: left;
}
.pagination-nav {
  padding-bottom: 2em;
}
.pagination-nav a {
  margin: 0;
  padding: 1em 0;
}
.pagination-nav h4 {
  margin-bottom: .25rem;
}
.pagination-nav .right h4 { text-align: right }
/* Social Media Widget */
#solofolio-social { margin-left: -10px }
#solofolio-social a {
  padding: 10px;
  font-size: 16px;
}
/* Phone view menu */
#menu-icon {
  width: 80px;
  line-height: 60px;
  font-size: 24px;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-align: center;
  z-index: 10;
  display: none;
}
/* Vert scroll gallery */
.vert-scroll {
  text-align: center;
  margin: 0 auto;
}
.vert-scroll .wp-caption-text {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 900px;
  margin-bottom: 1rem;
}
.vert-scroll img { max-width: 100%; width: auto; margin-bottom: 0; }
/* CycleReact gallery  */
#solofolio-cyclereact-wrap { overflow-x: scroll }
#solofolio-cyclereact-wrap,
#solofolio-cyclereact-stage,
#solofolio-cyclereact-images,
.solofolio-cycelereact-slide,
.solofolio-cyclereact-fill {
  position: absolute;
  overflow-x: visible;
  overflow-y: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.solofolio-cyclereact-title {
  position: fixed !important;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
}
.solofolio-cyclereact-title-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.solofolio-cyclereact-title-content {
  display: table-cell;
  vertical-align: middle;
}
.solofolio-gallery-title { text-align: center }
.solofolio-gallery-title p {
  text-align: left;
  margin: 0 auto 1em;
}
#solofolio-cyclereact-thumbs {
  display: none;
  z-index: 200;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
}
#solofolio-cyclereact-thumbs .thumb {
  float: left;
  width: 25%;
  max-width: 300px;
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
  border-top: 10px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
}
#solofolio-cyclereact-thumbs .thumb a {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 66%;
}
#solofolio-cyclereact-thumbs .thumb a:hover { opacity: .7 }
#solofolio-cyclereact-thumbs .thumb img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
ul.solofolio-cyclereact-controls { margin: 0; line-height: 1;}
.solofolio-cyclereact-controls a { font-weight: normal }
.solofolio-cyclereact-sidebar.buttons a {
  border-radius: 2px;
  display: inline-block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.solofolio-cyclereact-sidebar.text li {
  display: inline-block;
  font-size: .9rem;
  line-height: 1;
  margin-right: .5rem;
  margin-top: .5rem;
}
.solofolio-cyclereact-image { z-index: 2 }
.solofolio-cyclereact-fill {
  text-align: center;
  margin: 0 auto;
}
.solofolio-cyclereact-fill {
-webkit-backface-visibility: hidden;
}
.solofolio-cyclereact-nav-left,
.solofolio-cyclereact-nav-right {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 500;
}
.solofolio-cyclereact-nav-left {
  cursor: w-resize;
  left: 0;
  width: 50%;
}
.solofolio-cyclereact-nav-right {
  cursor: e-resize;
  right: 0;
  width: 50%;
}
.solofolio-cycelereact-slide {
  text-align: center;
  right: 0;
}
.solofolio-cyclereact-caption {
  margin: 0 auto;
  text-align: left;
}
/* Blog post image wrapper */
/* Centering */
#outerWrap { min-height: 100% }
#content-index,
#content-single { width: 100% }
#content-index .entry .wp-caption {
  max-width: 100%;
  width: 100%
}
#content-page p img {
  height: auto;
  width: 100%;
}
/* Grid */
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
.module {
  padding: 20px;
}
/* Custom menu widget */
.solofolio-custom-menu h3 { cursor: pointer; }
.solofolio-custom-menu ul { display: none; }
/* Fix WP admin bar overlap */
.admin-bar #header {
  top: 32px;
}
/* Helpers */
.no-margin { margin: 0; }
