@media only screen and (min-width: 1025px) {
  #header {
    left: 0;
    line-height: 45px;
    height: 45px;
    width: auto;
    bottom: auto;
    position: fixed;
    padding: 0;
    right: 0;
    z-index: 300;
    vertical-align: middle;
  }

  #header-inner {
    padding: 0 20px;
  }

  #header #logo {
    float: left;
    margin: 0;
  }

  #logo-noimg {
    display: inline;
  }

  #logo-img {
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
  }

  #header-content div {
    margin-top: 0;
    margin-bottom: 0;
  }

  #header h1 {
    display: inline-block;
  }

  #header-meta {
    display: inline-block;
  }

  #header-phone, #header-email, #header-location {
    display: inline-block;
    padding: 0 10px;
  }

  .sidebar-widget {
    display: inline-block;
    margin-left: 1rem;
  }

  .sidebar-widget:first-child {
    margin: 0;
  }

  #header-phone {
    padding-left: 20px;
  }

  #header-content {
    float: right;
  }

  #header-content ul li {
    display: inline-block;
    line-height: 45px;
    padding: 0 10px;
    vertical-align: top;
  }

  #header-content ul li:last-child {
    padding-right: 0;
  }

  .pagination-nav {
    margin: 0 auto;
  }

  #wrapper {
    top: 40px;
  }

  #header-content h3 {
    display: none;
  }

  .entry .post-meta {
    margin: 0 auto .7em;
    max-width: 600px;
  }

  .entry p {
    text-align: left;
  }

  #content-page {
    max-width: 900px;
  }

  #content-about, #content-index {
    padding-top: 10px;
  }

  #content-about-image {
    float: left;
    padding: 0 20px 20px 0;
  }

  .entry img,
  .entry .wp-caption img,
  .wp-caption,
  .entry p,
  .tag-links,
  #content-parent,
  #content-page {
    margin-left: auto;
    margin-right: auto;
  }

  #comments,
  .pagination-nav {
    max-width: 600px;
  }

  #solofolio-cyclereact-thumbs {
    text-align: center;
  }

    #solofolio-cyclereact-thumbs .thumb {
      display: inline-block;
      float: none;
    }

  .solofolio-cyclereact-sidebar {
    right: 0;
    top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .solofolio-cyclereact-sidebar.text li {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .solofolio-cyclereact-sidebar.buttons a {
    margin-top: 0;
    margin-bottom: 15px;
  }

    .solofolio-cyclereact-caption {
      line-height: 1.4;
      margin-top: 55px;
    }

      .solofolio-cyclereact-sidebar.text .solofolio-cyclereact-caption {
        margin-top: 2rem;
      }

    .solofolio-cyclereact-controls {
      position: absolute;
      top: 0;
      width: 100%;
    }

  .solofolio-cyclereact-fill {
    background-position: 50% top;
  }

  .more-link {
  }

  .comments {
    margin: 0 auto;
  }

  .post-cat {
    display: block;
  }

  .wp-caption {
    text-align: center;
  }

  .wp-caption .wp-caption-text {
    text-align: left;
  }

  .solofolio-post-image-asset {
    margin: 0 auto;
    text-align: center;
  }

  .entry .solofolio-image-caption {
    text-align: left;
  }

  #content-about {
    margin: 0 auto;
  }

  .footer {
    left: auto;
  }
}


@media only screen and (max-width: 480px) {

.entry h2.post-title {
  display: block;
}

#header h1 {
    float: none;
}

}
