@media only screen and (min-width: 1025px) {
  .wrapper { top: 85px }
  .header {
    display: table;
    position: fixed;
    left: 0;
    right: 0;
    padding: .75rem 0;
    width: 100%;
    z-index: 300;
  }
  .logo {
    display: table-cell;
    padding: 0 1.5rem 0 40px;
  }
  .logo-img img { display: block }
  .header-inner { display: table-row; }
  .header-meta { display: table-cell; }
  .header-meta div {
    display: inline-block;
    padding: 0 .5rem;
  }
  .header-content {
    display: table-cell;
    padding-right: 40px;
    text-align: right;
  }
  .logo, .header-meta, .header-content { vertical-align: middle }
  .sidebar-widget { margin-left: 1rem }
  .sidebar-widget:first-child { margin: 0 }
  .header-content ul li {
    display: inline-block;
    padding: 0 10px;
  }
  .header-content ul li:last-child { padding-right: 0 }
  .header-content h3 { display: none }
  .content-page { max-width: 900px }
  .content-about-image {
    float: left;
    padding: 0 2rem 2rem 0;
  }
  .entry img,
  .entry .wp-caption img,
  .wp-caption,
  .entry p,
  .tag-links,
  .content-about,
  .content-page,
  .content-parent,
  .pagination-nav,
  .entry .post-meta,
  .comments {
    margin-left: auto;
    margin-right: auto;
  }
  .comments,
  .pagination-nav {
    max-width: 600px;
  }
  .solofolio-cyclereact-thumbs { text-align: center }
  .solofolio-cyclereact-thumbs .thumb {
    display: inline-block;
    float: none;
  }
  .solofolio-cyclereact-sidebar {
    right: 0;
    top: 0;
    width: 100%;
  }
  .solofolio-cyclereact-sidebar.text li,
  .solofolio-cyclereact-sidebar.buttons a { margin-top: 0 }
  .solofolio-cyclereact-sidebar.text a { margin-bottom: .5rem }
  .solofolio-cyclereact-sidebar.buttons a { margin-bottom: 15px }
  .solofolio-cyclereact-caption {
    line-height: 1.4;
    margin-top: 55px;
  }
  .solofolio-cyclereact-sidebar.text .solofolio-cyclereact-caption { margin-top: 2rem }
  .solofolio-cyclereact-controls {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .solofolio-cyclereact-fill { background-position: 50% top }
}
